/**********************************************************
Desc: VSCode UI customizations.
Auth: Nicklas Vraa

Reduces the heights of the tab-bar and explorer-header-bar.
***********************************************************/

/* Editor file tabs. */
.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab .tab-label,
.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.sizing-shrink>.monaco-icon-label>.monaco-icon-label-container {
	line-height: 26px !important;
}
.monaco-workbench .part.editor>.content .editor-group-container>.title .editor-actions .action-label:not(span), .monaco-workbench .part.editor>.content .editor-group-container>.title .title-actions .action-label:not(span),
.monaco-workbench .part.editor>.content .editor-group-container>.title .editor-actions,
.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container,
.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab {
	height: 28px !important;
}
.monaco-workbench .part.editor>.content .editor-group-container>.title {
    height: 28px !important;
    line-height: 28px !important;
    border: 1px solid #3b4252;
    border-width: 0 0 1px 0 !important;
}
.editor-group-container > .editor-container {
	height: calc(100% - 28px) !important;
}
.editor-group-container > .editor-container .monaco-editor,
.editor-group-container > .editor-container .monaco-editor > .overflow-guard,
.editor-group-container > .editor-container .monaco-editor > .overflow-guard > .monaco-scrollable-element {
	height: 100% !important;
}

/* Explorer. */
.monaco-workbench .part>.composite.title {
    height: 28px !important;
}
.split-view-view.visible {
    background-color: rgb(46, 52, 64) !important;
}
.monaco-workbench .part>.title>.title-label {
    display: none !important;
}
.monaco-workbench .part.sidebar .title-actions .actions-container {
    justify-content: flex-start !important;
    padding-top: 4px !important;
    align-items: baseline;
}
