/* Custom CSS for the Obsidian application. */

/* Make window decoration match nova-galactic. */
html{
    border-style: solid;
    border-color: #2a2f3a;
    border-width: 1px;
    padding: 3px;
    padding-top: 0px;
    background-color: #353c4a;
}
body:not(.hider-frameless):not(.is-fullscreen):not(.is-mobile) {
    --titlebar-height: 25px;
}
body:not(.hider-frameless):not(.is-fullscreen):not(.is-mobile) .titlebar{
    background: #353c4a;
    border-style: solid;
    border-color: #2a2f3a;
    border-bottom: 0px;
    border-width: 1px;
    padding: 3px;
}
.titlebar-button-container.mod-left {
    display: none;
}
.titlebar-button-container.mod-right {
    background-color: #353c4a;
    height: 24px;
}
.titlebar-button-container.mod-right .titlebar-button {
    opacity: 1;
    background-color: #8e95a4;
    border: 10px solid #353c4a;
    padding: 2px 2px;
}
.titlebar-button-container.mod-right .titlebar-button svg {
    display: none;
}
.titlebar-button-container.mod-right .titlebar-button:hover {
    background-color: #d8dee9;
}
.titlebar-text {
    text-align: left;
    font-weight: 500;
    padding-left: 8px;
    opacity: 1;
}

/* Style UI like VS Code. */
.side-dock-ribbon {
    display:block;
}
.minimal-status-off .status-bar {
    background-color: #3b4252;
    border-top: 0px;
    color: #D8DEE9;
    padding-top: 5px;
}
.modal {
    border-radius: 0px;
}
body:not(.is-mobile) .modal {
    border: none;
}
.markdown-source-view.mod-cm6:not(.is-readable-line-width) .cm-contentContainer {
    margin: 0 0 0 20px !important;
}
