@media print {
    a:link, a:visited, a {
        color: black !important;
        text-decoration: none !important;
    }
    svg, img {
        filter: invert(100%) !important;
    }
    h1, h2, h3, h4, h5, h6 {
        color: black !important;
        page-break-after:avoid;
        page-break-inside:avoid;
    }
    table, pre {
        page-break-inside:avoid;
    }
    img {
        page-break-inside:avoid;
        page-break-after:avoid;
    }
    ul, ol, dl, div.math-block {
        page-break-before:avoid;
    }
    hr {
        border: none !important;
        border-top: 1px solid #333 !important;
    }
    body {
        text-align: justify;
        line-height: 1.8;
        tab-size: 4;
    }
    @page {
        margin: 2cm;
    }
    body {
        --code-background: white !important;
        --code-normal: black !important;
    }
    table {
        text-align: left;
    }
    th {
        color: black !important;
    }
    .cm-s-obsidian .HyperMD-codeblock {
        line-height: 1.2
    }
    .mermaid {
        color: black !important;
    }
}
